<h1>confirmation screen</h1>
<%= form_with(model: @restaurant_menus, url: restaurant_menus_path, local: true) do |form| %>
  <!-- Description for displaying the uploaded image on the confirmation screen -->
  <%= image_tag(@restaurant_menu.image.url) if @restaurant_menu.image && @restaurant_menu.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "Post" %>
<% end %>

<%= form_with(model:@restaurant_menu, url:new_restaurant_menu_path, local:true, method:"get") do |form| %>
    
  <%= form.hidden_field :image_cache %>
  <%= form.submit "Return", name: "back" ,class: "btn btn-danger"%>
<% end %>