<p id="notice"><%= notice %></p>

<h1>Restoras</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restoras.each do |restora| %>
      <tr>
        <td><%= restora.name %></td>
        <td><%= restora.location %></td>
        <td><%= link_to 'Show', restora %></td>
        <td><%= link_to 'Edit', edit_restora_path(restora) %></td>
        <td><%= link_to 'Destroy', restora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restora', new_restora_path %>
