<p id="notice"><%= notice %></p>

<h1>Restaurents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurents.each do |restaurent| %>
      <tr>
        <td><%= restaurent.name %></td>
        <td><%= restaurent.details %></td>
        <td><%= restaurent.location %></td>
        <td><%= link_to 'Show', restaurent %></td>
        <td><%= link_to 'Edit', edit_restaurent_path(restaurent) %></td>
        <td><%= link_to 'Destroy', restaurent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurent', new_restaurent_path %>
